<% content_for :page_title, "INITIALIZE DEADLINE" %>

<% content_for :breadcrumbs do %>
  <%= link_to @project.name, project_path(@project), class: "text-primary hover:text-primary/80" %>
  <span class="text-status-error mx-2">/</span>
  <span class="text-text-muted">Initialize Deadline</span>
<% end %>

<div class="max-w-4xl mx-auto">
  <%= render 'form', milestone: @milestone, project: @project %>
</div>
