<% content_for :page_title, "MODIFY MISSION" %>

<% content_for :breadcrumbs do %>
  <%= link_to "Missions", projects_path, class: "text-primary hover:text-primary/80" %>
  <span class="text-status-error mx-2">/</span>
  <%= link_to @project.name, project_path(@project), class: "text-primary hover:text-primary/80" %>
  <span class="text-status-error mx-2">/</span>
  <span class="text-text-muted">Modify</span>
<% end %>

<div class="max-w-4xl mx-auto">
  <%= render 'form', project: @project %>
</div>
