<% content_for :page_title, "MODIFY MISSION" %>

<% content_for :breadcrumbs do %>
  <%= link_to "Missions", projects_path, class: "text-terminal-cyan hover:text-terminal-cyan/80" %>
  <span class="text-terminal-red mx-2">/</span>
  <%= link_to @project.name, project_path(@project), class: "text-terminal-cyan hover:text-terminal-cyan/80" %>
  <span class="text-terminal-red mx-2">/</span>
  <span class="text-terminal-gray">Modify</span>
<% end %>

<div class="max-w-4xl mx-auto">
  <%= render 'form', project: @project %>
</div>
