<% content_for :page_title, "MODIFY PROTOCOL BANK" %>

<% content_for :breadcrumbs do %>
  <%= link_to @test_suite.project.name, project_path(@test_suite.project), class: "text-primary hover:text-primary/80" %>
  <span class="text-status-error mx-2">/</span>
  <%= link_to @test_suite.name, test_suite_path(@test_suite), class: "text-primary hover:text-primary/80" %>
  <span class="text-status-error mx-2">/</span>
  <span class="text-text-muted">Modify</span>
<% end %>

<div class="max-w-4xl mx-auto">
  <%= render 'form', test_suite: @test_suite %>
</div>
