<% content_for :page_title, "New Test Suite" %>

<% content_for :breadcrumbs do %>
  <%= link_to @project.name, project_path(@project), class: "text-primary hover:text-primary/80" %>
  <span class="text-status-error mx-2">/</span>
  <span class="text-text-muted">New Test Suite</span>
<% end %>

<div class="max-w-4xl mx-auto">
  <%= render 'form', test_suite: @test_suite, project: @project %>
</div>
