<% content_for :page_title, "MODIFY PROTOCOL" %>

<% content_for :breadcrumbs do %>
  <%= link_to @test_case.test_suite.project.name, project_path(@test_case.test_suite.project), class: "text-terminal-cyan hover:text-terminal-cyan/80" %>
  <span class="text-terminal-red mx-2">/</span>
  <%= link_to @test_case.test_suite.name, test_suite_path(@test_case.test_suite), class: "text-terminal-cyan hover:text-terminal-cyan/80" %>
  <span class="text-terminal-red mx-2">/</span>
  <%= link_to @test_case.title.truncate(30), test_case_path(@test_case), class: "text-terminal-cyan hover:text-terminal-cyan/80" %>
  <span class="text-terminal-red mx-2">/</span>
  <span class="text-terminal-gray">Modify</span>
<% end %>

<div class="max-w-4xl mx-auto">
  <%= render 'form', test_case: @test_case %>
</div>
