<% content_for :page_title, "INITIALIZE PROTOCOL" %>

<% content_for :breadcrumbs do %>
  <%= link_to @test_suite.project.name, project_path(@test_suite.project), class: "text-terminal-cyan hover:text-terminal-cyan/80" %>
  <span class="text-terminal-red mx-2">/</span>
  <%= link_to @test_suite.name, test_suite_path(@test_suite), class: "text-terminal-cyan hover:text-terminal-cyan/80" %>
  <span class="text-terminal-red mx-2">/</span>
  <span class="text-terminal-gray">Initialize Protocol</span>
<% end %>

<div class="max-w-4xl mx-auto">
  <%= render 'form', test_case: @test_case, test_suite: @test_suite %>
</div>
