<% content_for :page_title, "INITIALIZE TEMPLATE" %>

<% content_for :breadcrumbs do %>
  <%= link_to @project.name, project_path(@project), class: "text-primary hover:text-primary/80" %>
  <span class="text-status-error mx-2">/</span>
  <%= link_to "Templates", project_test_case_templates_path(@project), class: "text-primary hover:text-primary/80" %>
  <span class="text-status-error mx-2">/</span>
  <span class="text-text-muted">New</span>
<% end %>

<div class="max-w-3xl">
  <%= render 'form' %>
</div>
